[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"
black = "==19.10b0"

[packages]
flask-pymongo = "*"
dnspython = "*"
flask = "*"

[requires]
python_version = "3.8"
